*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: #fff;
}
.hero{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

form button{
    cursor: pointer;
    width: 10rem;
    height: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
form input{
    width: 15rem;
    height: 1.5rem;
}

.container img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    margin: 10px;
}